body{
  background-image: url('https://media.tenor.com/BRDnAfz1WfsAAAAd/hacker.gif');
  background-size: cover;   
  height: 100vh;
  padding:0;
  margin:0;
  font-family: sans-serif;
}

.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text{
  color: rgba(171, 171, 179, 0.705);
  margin-bottom: 25px;
  font-size: 20px;
  letter-spacing: 2px;
}

.loading{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loading .line-box{
  padding: 2px;
  width: 40%;
  height: 20px;
  border: 2px solid #f7f7f7;
  border-radius: 20px;
}

.loading .line-box .line{
  height: 20px;
  border-radius: 20px;
  background: #075000;
  animation: loading 2s forwards cubic-bezier(0,0,0,0);
}

@keyframes loading{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}